@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  .max-container {
    @media (min-width: 1920px) and (min-height: 1080px) {
      max-height: 1080px;
      max-width: 1920px;
    }
  }
}

@layer utilities {
  .scene-container {
    #globe & {
      height: 100% !important;
      width: 100% !important;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  body {
    font-family: var(--font-kumbh-sans), Arial, Helvetica, sans-serif;
  }

  * {
    box-sizing: border-box;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-rgb: 255, 255, 255;
    --foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;    
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;    
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;    
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
    --chart-1: 215.4 16.3% 46.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --background-rgb: 24, 24, 24;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 70.4% 55.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 240 5% 64.9%;
  }
}

@layer utilities {
  #globe canvas {
    transform: scale(0.8);
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  html {
    @apply bg-background;
    font-size: calc(13px + (16 - 14) * (100vw - 1024px) / (1920 - 1024));
    overscroll-behavior: none;
  }
  body {
    @apply bg-accent dark:bg-accent/10 text-foreground overflow-hidden w-screen h-screen;
  }
}

.pretty-json-container span {
  @apply !text-foreground;
}

html {
  overscroll-behavior: none;
  --scrollbar-color-thumb: hsl(var(--muted));
  --scrollbar-color-track: transparent;
  --scrollbar-width: 0.5rem;
  --scrollbar-width-legacy: 0.5rem;
}

*:not(th, tr, td) {
  @apply !shadow-none;
}

/* Modern browsers */
@supports (scrollbar-width: auto) {
  * {
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    scrollbar-width: var(--scrollbar-width);
  }
}

/* Legacy browsers (WebKit) */
@supports selector(::-webkit-scrollbar) {
  *::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb);
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar {
    width: var(--scrollbar-width-legacy);
    height: var(--scrollbar-width-legacy);
  }
}

.globe-point-button {
  @apply bg-background rounded-md px-2 pb-1 border text-foreground cursor-pointer transition-colors duration-200 ease-in-out pointer-events-auto overflow-hidden;
}

.globe-point-button > span {
  @apply text-[10px] font-semibold uppercase;
}

.globe-point-button > div {
  @apply hidden flex-col items-end gap-0.5 text-[10px] font-semibold;
}

.globe-point-button:hover div {
  @apply flex;
}

.globe-point-button:hover > span {
  @apply text-[13px];
}

::selection {
  background-color: hsl(var(--muted));
  color: hsl(var(--foreground));
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number {
  -moz-appearance: textfield;
  appearance: textfield;
}

.scrollbar-gutter-stable-both-edges {
  scrollbar-gutter: stable both-edges;
}

/* React Joyride styles */
.__floater {
  @apply !filter-none;
}
.react-joyride__tooltip {
  @apply p-4 rounded-md text-sm;
  border-width: 1px !important;
}

.react-joyride__tooltip > div:first-child > div {
  @apply !pr-6 !pl-0 !py-0 text-start;
}

.react-joyride__tooltip > div:nth-child(2) {
  @apply !mt-4;
}

.react-joyride__tooltip > div:nth-child(2) > div > button {
  @apply !rounded-md !bg-muted/20 hover:bg-muted/30 !text-muted-foreground;
}

.react-joyride__tooltip > button:last-child {
  @apply !p-2 !m-3;
}

.react-joyride__tooltip button {
  @apply !text-sm !font-medium;
}

.react-joyride__tooltip button[data-action='back'] {
  @apply !text-accent-foreground;
}

.react-joyride__tooltip button[data-action='primary'] {
  @apply !text-foreground;
}

#react-joyride-portal {
  max-height: 100%;
}